{% extends 'sitio/layout.html' %}

{% block content %}
<section class="row my-5 container mx-auto">

    <!-- MENSAGE DE ERROR -->
    {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show col-12" role="alert">
            <strong>{{ error_message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if okey_message %}
        <div class="alert alert-danger alert-dismissible fade show col-12" role="alert">
            <strong>{{ okey_message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <!-- TITULO -->
    <div class="col-12">
        <h2 class="display-4 text-center mb-5">Editar producto</h2>
    </div>

    <!-- FORMULARIO -->
    <form action="" method="post" enctype="multipart/form-data" class="w-100 col-12">

        {% csrf_token %}

        <!-- NOMBRE PRODUCTO -->
        <div class="col-12 p-0 form-group">
            <input class="form-control" type="text" name="titulo" placeholder="Ingrese el nombre del producto..." value="{{producto.titulo.title}}" required>
        </div>

        <div class="row container mx-auto p-0 pt-3">

            <!-- IMAGEN -->
            <div class="col-md-6 p-0 m-0">
                <div class="form-group">
                    <label for="imagen">IMAGEN</label>
                    <input type="file" class="form-control-file" name="imagen" id="imagen"
                        placeholder="Ingrese la imagen..." required>
                </div>
            </div>

            <div class="col-md-6 p-0 m-0 row">

                <!-- CATEGORIA -->
                <div class="col-12 p-0 form-group">
                    <select class="custom-select" name="categoria" required>
                        <option value="" selected>-- Seleccione la categoria --</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- DESCRIPCION -->
                <div class="col-12 p-0 form-group mb-3">
                    <textarea class="form-control" name="descripcion" rows="3" required>{{producto.descripcion.capitalize}}</textarea>
                </div>

                <div class="col-12 ">
                    <div class="row justify-content-between align-items-center">
                        <!-- PRECIO -->
                        <div class="col-auto m-0 p-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Precio: $</div>
                                </div>
                                <input type="number" class="form-control" name="precio" placeholder="XXXX.XX" value="{{ producto.precio|floatformat }}" required>
                            </div>
                        </div>

                        <!-- BOTON -->
                        <div class="form-group col-md-4 col-lg-3 m-0 p-0 mt-2 mt-lg-0">
                            <button type="submit" class="btn btn-success btn-block">Editar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</section>
{% endblock %}